{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="he" xml:lang="he">
<!-- html lang="en" -->

<head>
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap-rtl.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/rtl.css" type="text/css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sticky.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}js/google-code-prettify/prettify.css" rel="stylesheet">
    
  
<style type="text/css">

div.dcenter {
margin-top: 15px;
margin-left: auto;
margin-right: auto;
width: 9em;
}

.nav-collapse {
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  float: left;
}


#comb {
  display: inline-block;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  float: left;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

#lefty {
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  float: left;
}

#launchregistrationmodal{
  padding-right: 0;
  padding-left: 0;
  margin-right: 20px;
  float: left;
}


.dropdown-toggle.change:after {
  position: relative;
  top: 13px;
  left: 60px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  border-left: 8px solid transparent;
  content: '';
  z-index: 10008;
}



#inlineanchor{
  display: inline-block;
  padding-right: 3px;
  border-right:0px solid;
}

</style>

  
  
  
    <meta charset="utf-8">
    <title>{% trans "Zehu" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- ???  Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <[endif]-->

    <!-- Le fav icon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
  </head>

  <!-- body data-spy="scroll" data-target=".subnav" data-offset="50" -->


  <!-- Navbar 
    ================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- a class="brand" href="./index.html">Bootstrap</a -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">{% trans "What's Zehu?" %}</a>
              </li>
              <li class="">
                <a href="./index.html">{% trans "Help" %}</a>
              </li>
              <li class="">
                <a href="./index.html">{% trans "Contact us" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Zehu" %}</h1>
        <h2>{% trans "Share - Know - Influence" %}</h2>
        <p class="lead">write here anything...
        <div class="subnav">
          <!-- ul class="nav nav-pills" style="width: 600px; margin-left: auto; margin-right: auto" center!-->
          <ul class="nav nav-pills">
			<li class="divider"></li>
     {% if not user.is_authenticated %}
     
<script>
(function(){      
function showModalByUrl() {
    if(window.location.href.indexOf("showmodal") > -1) {
       $('#modal_login').modal('show');
    }
}
     if (window.attachEvent) {
       window.attachEvent('showModalByUrl', async_load);
     } else {
       window.addEventListener('load', showModalByUrl, false);
     };
})();
</script>  
     
     
     
      		<li><a data-toggle="modal" href="#modal_login"> {% trans "Submit link" %}</a></li>
      		<li><a data-toggle="modal" href="#modal_login"> {% trans "Create a new community" %}</a></li>
	 		<!-- li><a href="/accounts/register/"><font size=4 color="red">{% trans "Registration" %}</font></a></li -->
	 		<!-- li><a href="/accounts/login/?next=/">Login</a></li -->
	        <li id="lefty"><a data-toggle="modal" href="#modal_login">{% trans "Login" %}</a></li>
	        <li id="launchregistrationmodal"><a data-toggle="modal" href="#">{% trans "Registration" %}</a></li>
     {% endif %}
     {% if user.is_authenticated %}
        <li>{% trans "Welcome"%} <a id="inlineanchor" href="/users/{{ user.username }}">{{ user.username }}</a></li>
        <li><a href="/accounts/logout/?next=/">{% trans "Logout" %}</a></li>
    	<li><a data-toggle="modal" href="#modal_submit_post">{% trans "Submit link" %}</a></li>
		<li><a data-toggle="modal" href="/create_community/">{% trans "Create a new community" %}</a></li>   
     {% endif %}
     	   <li class="divider"></li>
           <li id='launch_modal_mysubs'><a class="dropdown-toggle" data-toggle="modal" href="#modal_mysubs">default branches <strong class="caret"></strong></a></li> 
          </ul>
        </div>        
      </header>
</div><!-- container -->

<!-- div class="container-fluid">
 <div class="row-fluid" -->
<div class="container">
  
 <!-- div class="row-fluid" -->
 <div class="row-fluid">
  <div class="span12">
   <div class="span8">
    <div id="content">
     {% block content %}{% endblock %}
    </div>
   </div><!-- span8 -->
    
   <div class="span4">
   <!-- add can ads or other blocks -->
	<div id="adver">	
 		<p><img src="{{ STATIC_URL }}img/PSV5S.jpg"/></p>  
	</div>
	<div id="adver2">	
 		<p><img src="{{ STATIC_URL }}img/dogAndGirl.jpg"/></p>  
	</div>
	<div id="adver3">	
		<p><a href="{{ STATIC_URL }}postsThumbnails/67.gif" rel="home" class="no-decoration"><img src="{{ STATIC_URL }}postsThumbnails/67.gif"></a></p> 
	</div>
	
   </div><!-- span4 -->  
   
  </div><!-- span12 -->
 </div><!-- row fluid -->
  <div class="row-fluid">
  <div class="span12">
  <br><br>
 .. .. .... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. פרסומת ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .   ... .. .
   <br><br>      
  </div>
 </div>
 <div class="row-fluid">
  <div class="span12">
     <!-- Footer ================================================== -->
	 <div id="footer">
	   <footer>
	    <p class="pull-right"><a href="#">Back to top</a></p>  
	    <p align="center">{% trans "Use of this site constitutes acceptance of our " %}<a href="/userAgreement/">{% trans "User Agreement" %}</a>{% trans " and " %}<a href="/privacyPolicy/">{% trans "Privacy Policy" %}</a> {% trans "All rights reserved." %} © {% trans "Zehu" %} 2012</p>  
	   </footer>
	 </div> 
  </div><!-- span12 -->
 </div><!-- row fluid -->
 
</div><!-- container fluid -->

     <!-- Footer ================================================== -->




<div class="modal hide" id="modal_login">
 <form action="/accounts/login/?next=/" id="login-form" class="form-horizontal" method="post">{% csrf_token %}
  <div class="modal-header" id="modal_login-header">
   <a href="#" class="close" data-dismiss="modal">&times;</a>
   <h2>{% trans "Login" %}</h2>
  </div>
  <div class="modal-body" id="modal_login-body">
   <div class="divDialogElements">
    <fieldset>
    <br><br><br>
     <div class="control-group">
      <label class="control-label" for="username">{% trans "username" %}</label>
      <div class="controls">
       <em>*</em><input id="username" name="username" type='text' size="15" class="required" value=""/>
      </div>
     </div>
     <div class="control-group">
      <label class="control-label" for="password">{% trans "password" %}</label>
      <div class="controls">
       <em>*</em><input id="password" name="password" type='password' size="15" class="required" value=""/>
      </div>
     </div>
     <div>
	   <label class="control-label"><a href="{% url auth_password_reset %}">{% trans "Forgot password" %}</a></label>
     </div>
     <div class="message" style="display:none">
      <h3>&nbsp&nbsp&nbsp&nbsp&nbsp{% trans "Wrong username or password." %} </h3>
     </div> 
           
   </fieldset>

  </div>
 </div>
 <div class="modal-footer" id="modal_login-footer">

   <div class="actions">
    <div class="row">
 	  <button type="submit" class="btn btn-primary btn-medium" href="/accounts/login/?next=/">{% trans "Login" %}</button>
    </div>
    <div class="row">
     <h5>{% trans "or" %}</h5>
    </div>
    <div class="row">
     <a id="jumptoregistrationmodal" class="btn btn-success btn-medium" href="#">{% trans "Free Registration!" %}</a>
    </div>
    <div class="row">
     <h5>{% trans "Spam free" %}</h5>
    </div>
   </div>

 </div>

 </form>
</div><!-- modal_login -->




<div class="modal hide" id="modal_register">
 <form action="/accounts/register/" id="register-form" class="form-horizontal" method="post">{% csrf_token %}
  <div class="modal-header" id="modal_register-header">
   <a href="#" class="close" data-dismiss="modal">&times;</a>
   <h2>{% trans "Registration" %}</h2>
  </div>
	 <div class="modal-body" id="modal_register-body">
	  <div class="divDialogElements">
	   <fieldset>
	    <div class="control-group">
	     <label class="control-label" for="username">{% trans "Username" %}</label>
	     <div class="controls">
	      <em>*</em><input id="username" name="username" type="text" size="15" class="required" value=""/>
	     </div>
	    </div>
	    <div class="control-group">
	     <label class="control-label" for="email">{% trans "E-mail" %}</label>
	     <div class="controls">
	      <em>*</em><input id="email" name="email" type="text" size="25" class="required" value=""/>
	     </div>
	    </div>
	    <div class="control-group">
	     <label class="control-label" for="password1">{% trans "Password" %}</label>
	     <div class="controls">
	      <em>*</em><input id="password1" name="password1" type='password' size="15" class="required" value=""/>
	     </div>
	    </div>
	    <div class="control-group">
	     <label class="control-label" for="password2">{% trans "Password (again)" %}</label>
	     <div class="controls">
	      <em>*</em><input id="password2" name="password2" type='password' size="15" class="required" value=""/>
	     </div>
	    </div>
	     <div class="message" style="display:none">
	     <h3>{% trans "password does not match." %}</h3>
	     </div>
	   </fieldset>
	  </div>
	 </div><!-- end modal-body -->
	 
	 <div class="modal-footer" id="modal_register-footer">

      <div class="actions">
       <div class="row">
 	    <button type="submit" class="btn btn-primary btn-medium" href="/accounts/register">{% trans "Register" %}</button>
       </div>
      </div>
	 </div><!-- end modal-footer -->
	 
 </form>
</div><!-- modal_register -->





<div class="modal hide" id="modal_submit_post">

 <form action="/submit_post/" id="submit-form" class="form-horizontal" method="post">{% csrf_token %}

 <div class="modal-header">
 <a href="#" class="close" data-dismiss="modal">&times;</a>
 <h3>{% trans "Submit a post" %}</h3>
 </div>
 <div class="modal-body">
  <div class="divDialogElements">
   <fieldset>
    <!-- legend>{% trans "Please fill the fields" %}</legend -->  
    <div class="control-group">
     <label class="control-label" for="title">{% trans "title" %}</label>
     <div class="controls">
      <em>*</em>
      <input type="text" class="input-xlarge" name="title" id="title" minlength="2" value="">
     </div>
    </div>
   
    <div class="control-group">
     <label class="control-label" for="hyperlink">{% trans "hyperlink" %}</label>
     <div class="controls">
      <em>*</em>
      <input id="hyperlink" name="hyperlink" size="45" class="url required" value=""/>
     </div>
    </div>
   
    <div class="control-group">
     <label class="control-label" for="branch">{% trans "branch" %}</label>
     <div class="controls">
      <em>*</em><input id="branch" name="branch" size="45" class="required" minlength="2" value=""/>  or
      <a class="btn btn-primary btn-small" href="/create_community/">{% trans "Create a new community" %}</a>
     </div>
    </div>
    
   </fieldset>	  
  </div>
 </div>
 <div class="modal-footer">
  <div class="actions">
   <div class="actions">

	<button type="submit" class="btn btn-primary btn-large">Submit</button>
	<button class="btn" onClick="return clearForm('contact-form')">Reset</button>
    <button class="btn" onClick="return closeModal('#modal_submit_post')">Close</button>
   </div>
  </div>
 </div>

 </form>
</div><!-- modal_submit_post -->



<div class="dropmodal modal hide" id="modal_mysubs">

 <div class="modal-body">
 		<!-- a href="#" class="close" data-dismiss="modal">&times;</a -->
	   <div class="tabbable">
    <ul id="branchesTab" class="nav nav-tabs">
      <li><a href="#defaults" data-toggle="tab">def</a></li>
      <li><a href="#allbranches" data-toggle="tab">all</a></li>
      {% if user.is_authenticated %}
      <li><a href="#userbranches" data-toggle="tab">my</a></li>
      {% endif %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="defaults">
         {% for t in dict.defaultbranches %}
   			<a href="/branch/{{ t }}/">{{ t }}</a> 
   		 {% endfor %}
	  </div>
      <div class="tab-pane fade in active" id="allbranches">
         {% for u in dict.allbranches %}
   			<a href="/branch/{{ u }}/">{{ u }}</a> 
   		 {% endfor %}
	  </div>
	  {% if user.is_authenticated %}
	  <div class="tab-pane" id="userbranches">
         {% for v in dict.userbranches %}
   			<a href="/branch/{{ v }}/">{{ v }}</a> 
   		 {% endfor %}
	  </div>
	  {% endif %}
    </div>
</div> 
 </div>
</div><!-- modal_mysubs -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script -->
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <!-- script src="{{ STATIC_URL }}js/google-code-prettify/prettify.js"></script -->
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/application.js"></script>
    <!-- script src="http://code.jquery.com/jquery-latest.js"></script -->
	<!-- script src="http://ui.jquery.com/latest/ui/jquery.effects.core.js"></script -->
	<!-- script src="http://ui.jquery.com/latest/ui/jquery.effects.slide.js"></script -->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    




<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>


<!-- Validate Plugin -->
	<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<!-- Scripts specific to this page -->
	<script src="{{ STATIC_URL }}js/submit_modal-script.js"></script>
 
<script>     
      
(function($){

    // fix sub nav on scroll
    var $win = $(window)
      , $nav = $('.subnav')
      , $modal_mysubs = $('#modal_mysubs')
      , navTop = $('.subnav').length && $('.subnav').offset().top -1
      , isFixed = 0

    processScroll()

    $win.on('scroll', processScroll)

    function processScroll() {
      var i, scrollTop = $win.scrollTop()
      if (scrollTop >= navTop && !isFixed) {
        isFixed = 1
        $nav.addClass('subnav-fixed')
        $modal_mysubs.removeClass('dropmodal')
        $modal_mysubs.addClass('dropmodal_fixed')
      } else if (scrollTop <= navTop && isFixed) {
        isFixed = 0
        $nav.removeClass('subnav-fixed')
        $modal_mysubs.removeClass('dropmodal_fixed')
        $modal_mysubs.addClass('dropmodal')
      }
    }

})(jQuery);
      
</script>

<script>
function closeModal(modal) {
  $(modal).modal('hide');
  $('#firstmodal').modal('hide');
}

//hover at modal_mysubs
var hide = false;
$('#modal_mysubs, #launch_modal_mysubs').hover(
	function(){
		$('.modal-body').addClass('modal-body_fixed')
		$('.subnav .dropdown-toggle').addClass('change')	
		if (hide) clearTimeout(hide);
		$('#modal_mysubs').fadeIn(1);
//		$('#launch_modal_mysubs').addClass('pppp')
	},function(){
	    $('.modal-body').removeClass('modal-body_fixed')
	    $('.subnav .dropdown-toggle').removeClass('change')
		hide = setTimeout(function(){
		$('#modal_mysubs').fadeOut(50);
//		$('#launch_modal_mysubs').removeClass('pppp')
	});
});
$('#launch_modal_mysubs').click(function(e) {
	//$('#modal_mysubs').modal('show');
	$('#modal_mysubs').hover();
	return false;
})




$('#launchregistrationmodal').click(function(e) {
	$('#modal_register').width('630px');
    $('#modal_register').modal('show');
})

$('#jumptoregistrationmodal').click(function(e) {
	$('#modal_register').width('1px');
    $('#modal_register').modal('show');
    $('#modal_register').animate({width: 630}, 1500, function(){
    $('#modal_login').modal('hide');
    })
})


$('li:not(:has(a))').addClass('empty');


$('a').click(function(event) {
  //return false;
});

</script>

<script>
$('#branchesTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
})



</script>


  </body>
</html>
