
{% block branchinfo %}
    <div>
		<table bgcolor="#ff0000" border="2">
		<tr>
			<td>
			<h2>This place is intended for mador info</h2>
			<h4>This place is intended for mador info This place is intended for mador info
			
			This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info
			
			
			 This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info 
			
			
			
			</h4>
			</td>
		</tr>
		</table>
		
		<p><img src="{{ STATIC_URL }}img/PSV5S.jpg" width="480" height="100%" /></p>  
    </div>
{% endblock %}