{% extends "base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block content %}

{% if dict.post %}

    {% for post in dict.post %}

        {% include "post.html" %}

            
    {% endfor %}

{% else %}
        <p>No dict!</p>
{% endif %}
 {{ user.username }} 
{% trans "your comment" %}
    <form action="" id="submitCommentForm" method="post" onSubmit="return validateForm('submitCommentForm')">{% csrf_token %}
        <table class="SubmitCommentForm">
          <tr id="comment_text" class="the_comment">{{ dict.form.comment }}</tr>             
        </table>
        <input type="submit" value="{% trans "save" %}">
    </form>

<p>
{% recursetree dict.nodes %}

    {% for comm in dict.comments_metadata %}

    	{% if comm.desc_id|add:"0" == node.thing_id %}
    
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right">
				<!-- input type="button" value="[-]" onClick="return toggleCollapse();" -->
				<!-- TODO: collapse all descendants in a loop... -->
				
			</td>
			<td>
                <center>
					<a id="up_{{ comm.desc_id }}" href="/voteup/?t={{ comm.desc_id }}&rt=c" name="up_{{ comm.desc_id }}">
						<img src="{{ STATIC_ROOT }}gifs/grayarrow.png" border="0" vspace="3" hspace="2" />
					</a>
                </center>
			</td>
			<td>             
				&nbsp;{{ comm.submitter }}&nbsp;-&nbsp;
			</td>
			<td>             
				{{ comm.points }}&nbsp;-&nbsp;{{ comm.submittedBefore }}
			</td>
		</tr>
        <tr>
        	<td align="right"/>
			<td valign="top">
				<a id="down_{{ comm.desc_id }}" href="/votedown/?t={{ comm.desc_id }}&rt=c" name="down_{{ comm.desc_id }}">
					<img src="{{ STATIC_ROOT }}gifs/grayarrowdown.png" border="0" vspace="3" hspace="2" />
				</a>
				<span id="down_{{ comm.desc_id }}"></span>
			</td>
			<td align="right" class="comnt"></td>      
			<td>       
				{{ comm.comment }}  
			</td>
		</tr>
        <tr>
        	<td align="right"/>
			<td align="right"/>   
			<td align="right"/>                    
			<td class="subtext">
		
				<a id=replylink{{ comm.desc_id }} href="javascript:makeVisible('replyForm{{ comm.desc_id }}')">{% trans "reply" %}</a>

				<!-- a href="/permalink/?t={{ comm.desc_id }}">{% trans "permalink" %}</a -->

				<a id=reportlink{{ comm.desc_id }} href="javascript:makeVisible('reportForm{{ comm.desc_id }}')">{% trans "report" %}</a>
				
				

			</td>

			<table style="display: none"/>
			</table>
			<!-- ??this table solves a bug that causes the form to be visible even its display value is 'none' ???!!-->

			<form style="display: none" id="replyForm{{ comm.desc_id }}" action="/reply/{{ comm.desc_id }}" onSubmit="return validateForm('replyForm{{ comm.desc_id }}')" method="post">
				<table class="SubmitCommentForm">
				
					<tr id="comment_text" class="the_comment">
						<td rowspan="2">       
							&nbsp;&nbsp;&nbsp;&nbsp;
						</td>						
						<td> 						
							{{ dict.form.comment }}
						</td>
					</tr>		
					<tr>
						<td> 						
							<input type="hidden" name="post_id" value="{{ comm.desc_id }}"/>
							<input type="submit" value="{% trans "save" %}">
							<input type="button" value="{% trans "cancel" %}" onClick="return toggle('reportlink{{ comm.desc_id }}','replyForm{{ comm.desc_id }}');">
						</td>
					</tr>											
				</table>
			</form>
			<form style="display: none" id="reportForm{{ comm.desc_id }}" action="/report/{{ comm.desc_id }}" method="post">{% csrf_token %}
				<table class="SubmitReportForm">
				
					<tr id="report_text" class="the_report">
						<td rowspan="2">       
							&nbsp;&nbsp;&nbsp;&nbsp;
						</td>						
						<td> 						
							{{ dict.form.comment }}
						</td>
					</tr>		
					<tr>
						<td align="left"> 						
							<input type="hidden" name="post_id" value="{{ comm.desc_id }}"/>
							<input type="submit" value="{% trans "save" %}">
							<font color="RED">{% trans "If You think is needed, please write here the reason for the removal request." %}<font>
							<input type="button" value="{% trans "cancel" %}" onClick="return toggle('replylink{{ comm.desc_id }}','reportForm{{ comm.desc_id }}');">
						</td>
					</tr>						
				</table>
			</form>

		  
			<!-- div id="toggleTab{{ comm.desc_id }}" style="display: none">	  
				<form action="/reply/{{ comm.desc_id }}" method="post">			
					<table class="SubmitCommentForm">
						<tr id="comment_text" class="the_comment">{{ dict.form.comment }}</tr>             
					</table>
					<input type="hidden" name="post_id" value="{{ comm.desc_id }}"/>
					<input type="submit" value="{% trans "save" %}">
				</form>
			</div -->        
		</tr>
	</table>
    </br>
    	{% endif %}	
    {% endfor %}   



	{% if not node.is_leaf_node %}
		<ul class="children">
			{{ children }}
		</ul>
	{% endif %}
{% endrecursetree %}
</p>

<!-- TODO: duplicated stuff -->
<script language="javascript"> 
function toggle(arg1,arg2) {
	var ele = document.getElementById(arg2);
	var text = document.getElementById(arg1);
	if(ele.style.display == "block") {
    	ele.style.display = "none";
		//text.innerHTML = "ffff"
  	}
	else {
		ele.style.display = "block";
		//text.innerHTML = "yyyyy"
	}
}
function makeVisible(arg1) {
	var ele = document.getElementById(arg1);
	if(ele.style.display == "none") {
    	ele.style.display = "block";
  	}
}

function validateForm(arg1){
	var x=document.forms[arg1]["comment"].value;
	if (x==null || x=="")
	{
		alert("No comment?");
		return false;
	}

	return true;
}

</script>
{% endblock %}