{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Create a community" %}</h2>

    {% if form.errors %}
        <!-- p style="color: red;">
            {% trans "Please correct the error" %}{{ form.errors|pluralize }} below.
        </p -->
    {% endif %}

    <form action="" method="post">{% csrf_token %}

        <table class="CreateCommunityForm">
        	<tr>
	        	<td> 	    
	        		{% trans "name" %}
		  		</td>
	           	<td style="color: red;> 
	        {{ form.errors.name }}
	            </td>
	        </tr>
	        <tr>
	            <td/>
		        <td id="the_name">{{ form.name }}</td>
		  	</tr>
	        <tr>
	        	<td> 	    
	        		{% trans "title" %}
		  		</td>
	           	<td style="color: red;> 
	        {{ form.errors.title }}
	            </td>
	        </tr>
	        <tr>
	        	<td/>

		        <td id="the_title">{{ form.title }}</td>
		  	</tr>
	        <tr>
	        	<td>
		  			{% trans "description" %}
		  		</td>        
	           	<td style="color: red;> 
	        {{ form.errors.description }}
	            </td>
	        </tr>
		  	<tr>
	        	<td/>

		        <td id="the_description">{{ form.description }}</td>
	        </tr>
	        <tr>
	           	<td>	  		           
		  			{% trans "type" %} 
		  		</td>        
	           	<td style="color: red;> 
	        {{ form.errors.type }}
	            </td>
	        </tr>
	        <tr>
	           	<td/>

		        <td id="the_type">{{ form.type }}</td>
		  	</tr>        
		</table>

        <input type="submit" value="{% trans "Submit" %}">
    </form>

{% endblock %}