{% extends "base.html" %}
{% load pagination_tags %}
{% load i18n %}
{% block adver %}
	<div id="adver">	
 		<p><img src="{{ STATIC_URL }}img/PSV5S.jpg" width="15px"/></p>  
	</div>
{% endblock %}
{% block branchinfo %}
      {% if user.is_authenticated %}
 <!-- div class="tabbable">
 <br><br>
    <ul id="branchesTab" class="nav nav-tabs">
      <li><a href="#defaults" data-toggle="tab">def</a></li>
      <li><a href="#allbranches" data-toggle="tab">all</a></li>
      <li><a href="#userbranches" data-toggle="tab">my</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="defaults">
         {% for t in dict.defaultbranches %}
   			<a href="/branch/{{ t }}/">{{ t }}</a> 
   		 {% endfor %}
	  </div>
      <div class="tab-pane" id="allbranches">
         {% for u in dict.allbranches %}
   			<a href="/branch/{{ u }}/">{{ u }}</a> 
   		 {% endfor %}
	  </div>
	  <div class="tab-pane" id="userbranches">
         {% for v in dict.userbranches %}
   			<a href="/branch/{{ v }}/">{{ v }}</a> 
   		 {% endfor %}
	  </div>
    </div>
</div -->     
      
      
      {% else %}
      
      
      
     
      
      
      
      
<!-- div class="tag-cloud">
 <table class="tbl_tagcloud">
  <td>
   {% for t in dict.tagcloud %}
   <a href="/tag/{{ t.tag }}/" style="font-size: {{ t.size }}pt;">{{ t.tag }}</a> 
   {% endfor %}
  </td>
 </table>
</div -->
      {% endif %}

<br>

<div>
 <table bgcolor="#ff0000" border="2">
  <tr>
   <td>
    <h2>This place is intended for mador info</h2>
    <h4>This place is intended for mador info This place is intended for mador info

     This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info


     This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info This place is intended for mador info 
    </h4>
   </td>
  </tr>
 </table>
</div>
{% endblock %}


{% block content %}
{% if dict.things_data %}
{% with dict.things_data as all_things_data %}
{% autopaginate all_things_data 15 %}
<div id="postspage">
  {% for post in all_things_data %}
   <div id="eachpost">
   {% include "postdiv.html" %}
   </div>
  {% endfor %}
<!-- USING http://djangosnippets.org/snippets/2741/ !! -->
  <div align="center" class="pagination">
   {% paginate %}
  </div>
</div>
{% endwith %}
{% else %}
 <p>No posts are available</p>
{% endif %}

{% endblock %}



<script>
$('#branchesTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
})

$('#branchesTab a:last').tab('show');

// selecting tabs individually    
//$('#branchesTab a:first').tab('show'); // Select first tab
//$('#branchesTab a[href="#profile"]').tab('show'); // Select tab by name
//$('#branchesTab li:eq(0) a').tab('show'); // 
$('#branchesTab li:eq(1) a').tab('show'); // 
//$('#branchesTab li:eq(2) a').tab('show'); // Select third tab (0-indexed)
//$('#branchesTab a:last').tab('show'); // Select last tab
</script>

<script>
$(function () {
//$('#branchesTab a:last').tab('show');
$('#branchesTab li:eq(1) a').tab('show'); 
})


</script>


