{% load i18n %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="he" xml:lang="he">

<head>
    <link rel="stylesheet" href="style.css" />
    <title>Validation Tests</title>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-rtl.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css" type="text/css">
	    
    <style type="text/css">

    label.valid {
    width: 24px;
    height: 24px;
    background: url({{ STATIC_URL }}img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
    }
    label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
    }
    </style>
    

    
    
</head>

<body>

<div class="divButton">
 <a data-toggle="modal" href="#works" class="btn btn-primary btn-large">Launch demo modal</a>
</div> 
 
 
<div class="modal hide" id="works">
	
<form action="/submit_post/" id="contact-form" class="form-horizontal">

<div class="modal-header">
 <a href="#" class="close" data-dismiss="modal">&times;</a>
 <h3>{% trans "Submit post" %}</h3>
</div>
<div class="modal-body">
 <div class="divDialogElements">
  <fieldset>
   <legend>Please fill the fields</legend>
   
   <div class="control-group">
    <label class="control-label" for="title">{% trans "title" %}</label>
    <div class="controls">
      <em>*</em>
      <input type="text" class="input-xlarge" name="title" id="title" minlength="2" value="">
    </div>
   </div>
   
   <div class="control-group">
    <label class="control-label" for="hyperlink">{% trans "hyperlink" %}</label>
    <div class="controls">
      <em>*</em>
      <input id="hyperlink" name="hyperlink" size="45" class="url required" value=""/>
    </div>
   </div>
   
   <div class="control-group">
    <label class="control-label" for="branch">{% trans "branch" %}</label>
    <div class="controls">
      <em>*</em><input id="branch" name="branch" size="45" class="required" minlength="2" value=""/>
    </div>
   </div>  


  </fieldset>	  
 </div>
</div>
<div class="modal-footer">
 <div class="actions">
<!-- TODO - get cancel working -->
  <button class="primary close-dialog">cancel</button>

  <button type="submit" class="btn btn-primary btn-large">Submit</button>


</div>
</div>

</form>
</div><!-- .works -->






<script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>
<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>

<!-- jQuery -->
<!-- script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script -->
 
<!-- Validate Plugin -->
<script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
<!-- Scripts specific to this page -->
<script src="{{ STATIC_URL }}js/tests-script.js"></script>


</body>
</html>
