{% load i18n %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="he" xml:lang="he">

<head>
    <!-- link rel="stylesheet" href="style.css" / -->
    <title>{% block title %}{% trans "Zehu" %}{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/css/bootstrap-rtl.css" type="text/css">
    <link rel="stylesheet" href="/static/css/rtl.css" type="text/css">
    <!-- link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" -->
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css">
	<!-- link rel="stylesheet/less" type="text/css" href="/static/less/navbar.less" -->
    <!-- link rel="stylesheet/less" href="/static/less/bootstrap.less" -->

	    <!-- taken from brand.... background: url(/static/img/aboutcom.png) no-repeat left center; -->
<!-- link href="style.css" rel="stylesheet" --> 
  
    <style type="text/css">
      .navbar-text{
        color: white;
      }

      
	  .brand
	  {
	    padding-top: 10px;
		height: 20px;
		width: 100px;
//		background-color: grey;
	  }
	  
	  div.tab-content {

	    width: 100%;
	    height: 50px;
	    padding: 4px;

	  }
	  
	  table.tbl_tagcloud {
	    border: solid black 2px;
	    border-spacing: 1px;
	    bgcolor: "#ff0000";
	  }
	  
	  table.tbl_tagcloud td {
        border: solid black 2px;
        padding: 35px;
	  }
	  
	  .message {
	    display: none;
	    margin: 0 0 13px 0;
	    padding: 13px 13px 13px 52px;
	    background: url(/static/img/error.png) left no-repeat #FDD;
	    background-position: 13px 5px;
	    border: solid 1px #511;
      }
.myDiv {
    height: 105px;
    background-color: #5049BA;
    color: yellow;
    font-size: 1.7em;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}
.myLine {
    height: 6px;
    background-color: #5049BA;
    #color: blue;
    font-size: 1.7em;
    top: 50;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}



    </style>
    
<style type="text/css">

    label.valid {
    width: 24px;
    height: 24px;
    background: url(/static/img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
    }
    label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
    }
</style>

    
    
</head>

<body>

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">  
    <div class="container-fluid">  
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </a>  
      <!-- Be sure to leave the brand out there if you want it shown -->  
      <!-- a class="brand" href="/index.html"><font size=4 color="white">{% trans "ZEHU" %}</font></a -->
      <a class="brand" href="/index.html"> <img src="/static/img/aboutcom.png"></a>  
      <!-- Everything you want hidden at 940px or less, place within here -->  
      <div class="nav-collapse">  
       <!-- .nav, .navbar-search, .navbar-form, etc -->
       <ul class="nav">  
        <li><a href="#">{% trans "About" %}</a></li>  
        <li><a href="#">{% trans "Help" %}</a></li>  
        <li><a href="#">{% trans "Contact" %}</a></li>
      </ul>  
      <ul class="nav">  
      <li class="dropdown">  
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>  
        <ul class="dropdown-menu">  
         <li><a href="#">Web Design</a></li>  
         <li><a href="#">Web development</a></li>  
         <li><a href="#">Wordpress Theme development</a></li>  
        </ul>  
      </li>  
    </ul>
    <form class="navbar-search pull-left">  
     <input type="text" class="search-query" placeholder="Search">  
    </form>
    <ul class="nav pull-right"> 
     {% if not user.is_authenticated %}
      <li><a href="/accounts/register/"><font size=4 color="red">{% trans "Register" %}</font></a></li>
      <!-- li><a href="/accounts/login/?next=/">{% trans "Login" %}</a></li -->
      <li><a data-toggle="modal" href="#modal_login">{% trans "Login" %}</a></li>			
     {% endif %}
     {% if user.is_authenticated %}
      <ul class="nav">
        <li><a style="padding-left: 3px;border-left:0px solid">{% trans "Welcome"%}</a></li> 
        <li><a href="#" style="padding-right: 4px;;border-right:0px solid"><font size=4 color="white">{{ user.username }}</font></a></li>
        <li><a href="/accounts/logout/?next=/">{% trans "Logout" %}</a></li>
        <li><a href="/sticky/">{% trans "Sticky" %}</a></li>  
      </ul>
     {% endif %}  
    </ul>           
   </div>
  </div>  
 </div> 
 
 
 
 

 <div class='myLine'>
</div> 
 </div><!-- navbar-fixed-top -->
<!-- div class='myLine'>

</div -->   
<div class='myDiv'>
<br><br><br><br>
<h3><font size=2 color="black">Shy Header</font></h3>
</div>



<div class="container-fluid">  
 <div class="row-fluid"><br>
  <div class="span12">
  <br>
    <br>
	   <h4><font size=4 color="black"></font></h4>
  
  </div>
 </div>
</div>

<style="color: black">
<div class="container-fluid">
 <div class="row-fluid">
  <div class="span12">  
   <div class="span1">
    <div>
       <br><br><br><br>
kuku
    </div>
   </div>     
   <div class="span7"><br>
   <br><br><br><br>   
    <h1>{% trans "Share - Know - Influence" %}</h1>
    <br>
     {% block sidebar %}
     <!-- ul class="sidebar">
      <li><a href="/">{% trans "Home" %}</a></li>
     </ul -->
     {% endblock %}
    <div id="content" style="font-size: 15px;">
     {% block content %}{% endblock %}
    </div>
   </div>
   <div class="span3">
    <br><br><br><br>
    <div id="branchinfo">
     <p>
      {% if user.is_authenticated %}
       <a data-toggle="modal" href="#modal_submit_post" class="btn btn-primary btn-medium">{% trans "Submit link" %}</a> 
       <a class="btn btn-primary btn-medium" href="/create_community/">{% trans "Create a new community" %}</a>
      {% else %}
       <a data-toggle="modal" class="btn btn-primary btn-medium" href="#modal_login"> {% trans "Submit link" %}</a>
       <a data-toggle="modal" class="btn btn-primary btn-medium" href="#modal_login">{% trans "Create a new community" %}</a>
      {% endif %}
    </div><!-- branchinfo -->

      <br>

     {% block branchinfo %}
     {% endblock %}
     <br>
     <div id="ad">
     {% block ad %}
     {% endblock %}
     </div>
     </p>
    </div>
    <br>
   </div>
   <div class="span1"><br>
    <div>
	 <!-- just empty space.?. -->
    </div>
   </div>
    
  </div><!-- span12 -->
 </div><!-- row fluid -->
 <div>
   <footer>  
    <p align="center">{% trans "Use of this site constitutes acceptance of our " %}<a href="/userAgreement/">{% trans "User Agreement" %}</a>{% trans " and " %}<a href="/privacyPolicy/">{% trans "Privacy Policy" %}</a> {% trans "All rights reserved." %} © {% trans "Zehu" %} 2012</p>  
   </footer>
   <br><br><br> 
 </div> 


</div><!-- container fluid -->

 
</div>


<div class="modal hide" id="modal_submit_post">

 <form action="/submit_post/" id="submit-form" class="form-horizontal" method="post">

 <div class="modal-header">
 <a href="#" class="close" data-dismiss="modal">&times;</a>
 <h3>{% trans "Submit a post" %}</h3>
 </div>
 <div class="modal-body">
  <div class="divDialogElements">
   <fieldset>
    <!-- legend>{% trans "Please fill the fields" %}</legend -->  
    <div class="control-group">
     <label class="control-label" for="title">{% trans "title" %}</label>
     <div class="controls">
      <em>*</em>
      <input type="text" class="input-xlarge" name="title" id="title" minlength="2" value="">
     </div>
    </div>
   
    <div class="control-group">
     <label class="control-label" for="hyperlink">{% trans "hyperlink" %}</label>
     <div class="controls">
      <em>*</em>
      <input id="hyperlink" name="hyperlink" size="45" class="url required" value=""/>
     </div>
    </div>
   
    <div class="control-group">
     <label class="control-label" for="branch">{% trans "branch" %}</label>
     <div class="controls">
      <em>*</em><input id="branch" name="branch" size="45" class="required" minlength="2" value=""/>  or
      <a class="btn btn-primary btn-small" href="/create_community/">{% trans "Create a new community" %}</a>
     </div>
    </div>
    
   </fieldset>	  
  </div>
 </div>
 <div class="modal-footer">
  <div class="actions">
   <div class="actions">

	<button type="submit" class="btn btn-primary btn-large">Submit</button>
	<button class="btn" onClick="return clearForm('contact-form')">Reset</button>
    <button class="btn" onClick="return closeModal('#modal_submit_post')">Close</button>
   </div>
  </div>
 </div>

 </form>
</div><!-- modal_submit_post -->




<div class="modal hide" id="modal_login">
 <form action="/accounts/login/?next=/" id="login-form" class="form-horizontal" method="post">

 <div class="modal-header">
 <a href="#" class="close" data-dismiss="modal">&times;</a>
 <h3>{% trans "Login" %}</h3>
 </div>
 <div class="modal-body">
  <div class="divDialogElements">
   <fieldset>
    <div class="control-group">
     <label class="control-label" for="username">{% trans "username" %}</label>
     <div class="controls">
      <em>*</em><input id="username" name="username" size="15" class="required" value=""/>
     </div>
    </div>
    <div class="control-group">
     <label class="control-label" for="password">{% trans "password" %}</label>
     <div class="controls">
      <em>*</em><input id="password" name="password" type='password' size="15" class="required" value=""/>
     </div>
    </div>
     <div class="message" style="display:none">
     <h3>{% trans "Wrong username or password." %}</h3>
     </div>
   </fieldset>

  </div>
 </div>
 <div class="modal-footer">

   <div class="actions">
    <!-- a align="right" href="/accounts/register/"><font size=4 color="red">{% trans "Register" %}</font></a -->
    <!-- button class="btn" data-dismiss="modal" data-target="#modal_login">Close</button -->
    <div class="row">
 	  <button type="submit" class="btn btn-primary btn-medium" href="/accounts/login/?next=/">{% trans "Login" %}</button>
    </div>
    

    <div class="row">
     <h5>{% trans "or" %}</h5>
    </div>
    <div class="row">
     <a class="btn btn-success btn-medium" href="/accounts/register/">{% trans "Free Registration!" %}</a>
    </div>
    <div class="row">
     <h5>{% trans "Spam free" %}</h5>
     
    </div>
   </div>

 </div>

 </form>
</div><!-- modal_login -->





<!-- script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script -->
<!-- script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script -->

<!-- jQuery -->
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<!-- Validate Plugin -->
<script src="/static/js/jquery.validate.min.js"></script>
<!-- Scripts specific to this page -->
<script src="/static/js/submit_modal-script.js"></script>

<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<!-- script src="/static/js/less-1.3.0.min.js"></script -->


</body>
</html>
<script>
function clearForm(oForm) {
  var el = $('#submit-form');
// Clear form
  el.find('input:text,textarea').val('');
}
</script>
<script>
function closeModal(modal) {
//  var el = $('#modal_login');
//  $(modal).location.href="#";
  $(modal).modal('hide');
//   $('#forjs').trigger("click");
}
</script>
<script>
function clickTest() {
  $('#forjs').trigger("click");
}

$('.navbar').hover(function() {
$('.myDiv').slideDown();
})

$('.myLine').hover(function() {
$('.myDiv').slideDown();
})

$('.myLine').mouseleave(function() {
$('.myDiv').slideDown();
})

$('.myDiv').mouseleave(function(e) {
	if ($(window).scrollTop() > 100){
		var relativeY = e.pageY;
		var d = $('.myDiv');
		var dposition = d.position().top + 60;
		if ( relativeY > dposition){
			$('.myDiv').slideUp(duration = 800);
		}
	}
});

$(window).scroll(function(){
    if ($(this).scrollTop() < 100) {
          $('.myDiv').show();
    }
    else {
       if ($(this).scrollTop() > 100) {
          $('.myDiv').hide();
          //$('.myDiv').slideUp(duration = 1200, function() {// Animation complete.});
       }
    }
});








</script>
