{% load i18n %}

            <table border="1" cellpadding="0" cellspacing="0">

    		
            <tr>
              <td rowspan="3"><td align="right" valign="top" class="title">{{ post.index }}&nbsp;</td>
              <!-- td rowspan="3"><a href="{{ post.thumbnailPath }}" rel="home" class="no-decoration"><img src="{{ post.thumbnailPath }}" width="64" height="100%"></a></td -->
              <td rowspan="3"><a href="{{ STATIC_URL }}postsThumbnails/{{ post.index }}.gif" rel="home" class="no-decoration"><img src={{ STATIC_URL }}postsThumbnails/{{ post.index }}.gif" width="64" height="100%"></a></td>              

              <td>
                <center>
                  <a id="up_{{ post.id }}" href="/{% trans "voteup" %}/?t={{ post.id }}" name="up_{{ post.id }}">
                     <img src="{{ STATIC_URL }}gifs/grayarrow.png" border="0" vspace="3" hspace="2" />
                  </a>
                  <span id="up_{{ post.id }}"></span>
                </center>
              </td>

              <td class="title">
             	<a href="{{ post.link }}">{{ post.title }}</a>
              	<span>{% trans "source:" %} {{ post.hostname }} </span>
              </td>
            </tr>
            <tr>            
             <td align="right" valign="top" class="score">  </td>           
               <td>
                <center>
                    {{ post.total }}
                </center>
             </td>
             <td class="metadata">
              	<span>&nbsp;{% trans "submitted" %} {{ post.submittedBefore }}{% trans "by" %} {{ post.submitter }} {% trans "to" %} {{ post.branch }} </span>
              </td>
            </tr>
            <tr>
            
             <td align="right" valign="top" class="thumb">  </td>           
               <td>
                <center>
                  <a id="down_{{ post.id }}" href="/{% trans "votedown" %}/?t={{ post.id }}" name="down_{{ post.id }}">
                     <img src="{{ STATIC_URL }}gifs/grayarrowdown.png" border="0" vspace="0" hspace="5" />
                  </a>
                  <span id="down_{{ post.id }}"></span>
                </center>
              </td>

              <td class="subtext">
	              <a href="/{% trans "comments" %}/{{ post.id }}">{% trans "comments" %}</a>
	              <a id=sharelink{{ post.id }} href="javascript:makeVisible('shareForm{{ post.id }}')">{% trans "share" %}</a>
	              <a href="/save/?t={{ post.id }}">{% trans "save" %}</a>
	              <a href="/hide/?t={{ post.id }}">{% trans "hide" %}</a>
	              <a href="/report/?t={{ post.id }}">{% trans "report" %}</a>
			  </td>
				
				<table style="display: none"/>
				</table>
				<!-- ??this table solves a bug that causes the form to be visible even its display value is 'none' ???!!-->
				
				<form style="display: none" id="shareForm{{ post.id }}" action="/sharepost/{{ post.id }}" onSubmit="return validateShareForm('shareForm{{ post.id }}')" method="post">
					<table class="SubmitShareForm">
			        	<tr>
				        	<td> 	    
				        		{% trans "addressee" %}
					  		</td>
				           	<td style="color: red;> 
				        		{{ form.errors.addressee }}
				            </td>
				        </tr>
				        <tr>
				            <td/>
					        <td id="the_addressee">{{ dict.share_form.addresseeMailAddress }}</td>
					  	</tr>
			
			        	<tr>
				        	<td> 	    
				        		{% trans "submitter" %}
					  		</td>
				           	<td style="color: red;> 
				        		{{ form.errors.submitter }}
				            </td>
				        </tr>
				        <tr>
				            <td/>
					        <td id="the_submitter">{{ dict.share_form.submitter }}</td>
					  	</tr>					
			
			        	<tr>
				        	<td> 	    
				        		{% trans "submitterMailAddress" %}
					  		</td>
				           	<td style="color: red;> 
				        		{{ form.errors.submitterMailAddress }}
				            </td>
				        </tr>
				        <tr>
				            <td/>
					        <td id="the_submitterMailAddress">{{ dict.share_form.submitterMailAddress }}</td>
					  	</tr>						
			
			        	<tr>
				        	<td> 	    
				        		{% trans "comment" %}
					  		</td>
				           	<td style="color: red;> 
				        		{{ form.errors.comment }}
				            </td>
				        </tr>
				        <tr>
				            <td/>
					        <td id="the_comment">{{ dict.share_form.comment }}</td>
					  	</tr>	
						<tr>
							<td align="left"> 						
								<input type="hidden" name="post_id" value="{{ post.id }}"/>
								<input type="hidden" name="title" value="{{ post.title }}"/>
								<input type="hidden" name="permalink" value="{{ post.link }}"/>
								<input type="submit" value="{% trans "share" %}">
								{{ post.id }}
								<input type="button" value="{% trans "cancel" %}" onClick="return toggle('sharelink{{ post.id }}','shareForm{{ post.id }}');">
							</td>
						</tr>						
					</table>
				</form>
			</tr>
            <tr style="height:5px">
               <td></td>
            </tr>
            

            </table>
            
<!-- TODO: duplicated stuff -->
<script language="javascript"> 
function toggle(arg1,arg2) {
	var ele = document.getElementById(arg2);
	var text = document.getElementById(arg1);
	if(ele.style.display == "block") {
    	ele.style.display = "none";
		//text.innerHTML = "ffff"
  	}
	else {
		ele.style.display = "block";
		//text.innerHTML = "yyyyy"
	}
}
function makeVisible(arg1) {
	var ele = document.getElementById(arg1);
	if(ele.style.display == "none") {
    	ele.style.display = "block";
  	}
}

function validateShareForm(arg1){
	var x=document.forms[arg1]["addresseeMailAddress"].value;
	if (x==null || x=="")
	{
		alert("No addressee?");
		return false;
	}

	return true;
}
  
</script>