{% load i18n %}
  
<style type="text/css">



div#wholepost{
position:relative;
width:620px;
right:0px;
top:0px;
border: 1px solid;
}
div#columns{
width:620px;
min-height:80px;
max-height:120px;
top:0px;
left:50px;
right:20px;
//background: yellow;
margin-top: 5px;
margin-bottom: 5px;
}
div#col1{
position:absolute;
top:26px;
width:30px;
height:25px;
right:4px;
//background: blue;
}
div#col2{
top:13px;
position:absolute;
width:30px;
height:62px;
right:30px;
}
div#col3{
top:2px;
position:absolute;
height:78px;
width:78px;
right:70px;
}
div#col4{
top:0px;
position:relative;
min-height:80px;
max-height:120px;
width:458px;
right:156px;
//background: pink;

}
div#uparrow{
text-align: center;
}
div#uparrow a{
}
div#score{
color: red;
text-align: center;
}

div#downarrow{
text-align: center;
}
div#downarrow a{
}

div#spacer{
height:8px;
}

div#title{
width:445px;
//background: #660;
}

div#title a{
font-size: 20px;
font-size: large;
}

div#metadata{
font-size: 10px;
width:445px;
//background: #668;
}
div#links{
font-size: 14px;
width:445px;
//background: #66F;
}



</style>


 <div id="wholepost">
	 <div id="columns">
	     <div id="col1">
	     	<h3>{{ post.index }}</h3>
	     </div>
	     <div id="col2">
			 <div id="uparrow">
	     	   <a id="up_{{ post.id }}" href="/{% trans "voteup" %}/?t={{ post.id }}" name="up_{{ post.id }}">
                 <img src="{{ STATIC_URL }}gifs/grayarrow.png"/>
               </a>
		     </div>
		     <div id="score">
		     	{{ post.total }}
		     </div>
		     <div id="downarrow">
	     	  <a id="down_{{ post.id }}" href="/{% trans "votedown" %}/?t={{ post.id }}" name="down_{{ post.id }}">
                 <img src="{{ STATIC_URL }}gifs/grayarrowdown.png"/>
              </a>
		     </div> 
	     </div>
	     <div id="col3">	
	     	  {% if post.imageExists %}
	         	<a href="{{ STATIC_URL }}postsThumbnails/{{ post.id }}.gif" rel="home" class="no-decoration"><img src="{{ STATIC_URL }}postsThumbnails/{{ post.id }}.gif"></a>
	          {% else %}
	         	<a href="{{ STATIC_URL }}postsThumbnails/2.gif" rel="home" class="no-decoration"><img src="{{ STATIC_URL }}postsThumbnails/2.gif"></a>
	          {% endif %}
	     </div>	        
	     <div id="col4">
			 <div id="title">
		     	<a href="{{ post.link }}">{{ post.title }}</a>
              	<span>{% trans "source:" %} {{ post.hostname }} </span>
		     </div>
		     <div id="spacer"/>
              	<span></span>
		     </div>  
		     <div id="metadata">
		     	<span>{% trans "submitted" %} {{ post.submittedBefore }}{% trans "by" %} {{ post.submitter }} {% trans "to" %} {{ post.branch }} </span>
		     </div>
		     <div id="spacer"/>
              	<span></span>
		     </div> 
		     <div id="links">
				<a href="/{% trans "comments" %}/{{ post.id }}">{% trans "comments" %}</a>
				<a id=sharelink{{ post.id }} href="javascript:makeVisible('shareForm{{ post.id }}')">{% trans "share" %}</a>
				<a href="/save/?t={{ post.id }}">{% trans "save" %}</a>
				<a href="/hide/?t={{ post.id }}">{% trans "hide" %}</a>
				<a href="/report/?t={{ post.id }}">{% trans "report" %}</a>
		     </div>
	     </div>		        
	 </div>	
</div><!-- wholepost -->
