{% load i18n %}

            <table border="0" cellpadding="0" cellspacing="0">

    		
            <tr>
              <td rowspan="3"><td align="right" valign="top" class="title">{{ post.index }}&nbsp;</td>
              <td rowspan="3"><a href="{{ post.thumbnailPath }}" rel="home" class="no-decoration"><img src="{{ post.thumbnailPath }}" width="64" height="100%"></a></td>
              

              <td>

              </td>

              <td>

              </td>
            </tr>
            <tr>            
             <td>
             
             </td>           
               <td>

             </td>
             <td>
             
             </td>
            </tr>
            <tr>
            
             <td>
             
             
             </td>           
               <td>
 
              </td>

              <td>

			  </td>
            </tr>

            <tr>
               <td>
               
               </td>
            </tr>
            

            </table>