{% load i18n %}
{% load bootstrap_toolkit %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-rtl.min.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css" type="text/css"> 


Speak Your Mind
זהו
<form action="" method="post">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="actions">
        <button type="submit" class="btn primary">Submit</button>
    </div>
</form>