{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Submit post" %}</h2>

    {% if form.errors %}
            <!-- p style="color: red;">
            {% trans "Please correct the error" %}{{ form.errors|pluralize }} below.
        </p -->
    {% endif %}

    <form action="" method="post">{% csrf_token %}

        <table class="SubmitPostForm">
        
        	<tr>
	        	<td> 	    
	        		{% trans "title" %}
		  		</td>
	           	<td style="color: red;> 
	        {{ form.errors.title }}
	            </td>
	        </tr>
	        <tr>
	            <td/>
		        <td id="the_title">{{ form.title }}</td>
		  	</tr>
        	<tr>
	        	<td> 	    
	        		{% trans "hyperlink" %}
		  		</td>
	           	<td style="color: red;> 
	        {{ form.errors.hyperlink }}
	            </td>
	        </tr>
	        <tr>
	            <td/>
		        <td id="the_hyperlink">{{ form.hyperlink }}</td>
		  	</tr>
        	<tr>
	        	<td> 	    
	        		{% trans "branch" %}
		  		</td>
	           	<td style="color: red;> 
	        {{ form.errors.branch }}
	            </td>
	        </tr>
	        <tr>
	            <td/>
		        <td id="the_branch">{{ form.branch }}</td>
		  	</tr>         
		</table>

        <input type="submit" value="{% trans "Submit" %}">
    </form>

{% endblock %}