{% block submit_modal %}

<div class="modal hide" id="works">
	
<form action="/submit_post/" id="contact-form" class="form-horizontal">{% csrf_token %}

<div class="modal-header">
 <a href="#" class="close" data-dismiss="modal">&times;</a>
 <h3>{% trans "Submit post" %}</h3>
</div>
<div class="modal-body">
 <div class="divDialogElements">
  <fieldset>
   <legend>Please fill the fields</legend>
   
   <div class="control-group">
    <label class="control-label" for="title">{% trans "title" %}</label>
    <div class="controls">
      <em>*</em>
      <input type="text" class="input-xlarge" name="title" id="title" minlength="2" value="">
    </div>
   </div>
   
   <div class="control-group">
    <label class="control-label" for="hyperlink">{% trans "hyperlink" %}</label>
    <div class="controls">
      <em>*</em>
      <input id="hyperlink" name="hyperlink" size="45" class="url required" value=""/>
    </div>
   </div>
   
   <div class="control-group">
    <label class="control-label" for="branch">{% trans "branch" %}</label>
    <div class="controls">
      <em>*</em><input id="branch" name="branch" size="45" class="required" minlength="2" value=""/>
    </div>
   </div>  


  </fieldset>	  
 </div>
</div>
<div class="modal-footer">
 <div class="actions">
<!-- TODO - get cancel working -->
  <button class="primary close-dialog">cancel</button>

  <button type="submit" class="btn btn-primary btn-large">Submit</button>


</div>
</div>

</form>
</div><!-- .works -->

<!-- Scripts specific to this page -->
<script src="/static/js/submit_modal-script.js"></script>

{% endblock %}