body {
  padding-top: 0px;//shorter header than in docs.css ...
}

.subnav-fixed{
  top: 0px;//fix to top
}

.span12{
//border: 2px solid yellow;
}

div#content{
font-size: 15px;
width:620px;
//background: grey;
//border: 3px solid red;
padding-top: 10px;

}


div#adver{
padding-top: 10px;
//border: 3px solid green;
margin-bottom: 15px;
}

div#footer{
//background: orange;
//border: 2px solid blue;
padding: 30px;
}

#modal_login {
   top: 0px;
   margin-top: 40px;
   width: 630px;
//   height: 455px;
   z-index: 10000;
}

#modal_register {
   top: 0px;
   margin-top: 40px;
   width: 1px;
//   height: 455px;
   z-index: 10002;
}

#modal_login-header{
  width: 600px;
  overflow: hidden;
  height: 40px;
}
#modal_login-body{
  width: 600px;
  overflow: hidden;
  height: 230px;
}

#modal_login-footer{
  width: 600px;
  overflow: hidden;
  height: 80px;
}

#modal_register-header{
  width: 600px;
  overflow: hidden;
  height: 40px;
}
#modal_register-body{
  width: 600px;
  overflow: hidden;
  height: 230px;
}
#modal_register-footer{
//   max-height: 60px;
    width: 600px;
    height: 80px;
}

.control-group{
	height: 45px;
}


.modal-body_fixed{
//   border-top: 1px solid red;
   max-height: 250px;
   min-height: 250px;
//   max-width: 750px;
}

.dropmodal {
   position: absolute;
   top: 489px;
   width: 95%;
   right: 30%;
   border-top: 0px solid transparent;
}

.dropmodal_fixed {
   top: -1px;
   margin-top: 36px;
   width: 95%;
   right: 30%;
   border-top: 1px solid white;
}

.nav li.empty {
   width: 10px;
   border:transparent 1px solid;
}

 
.pull-right {
  float: right !important;
}


/* Responsivness

-------------------------------------------------- */
@media (max-width: 480px) {


  .modal {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    height: 75%;
    margin-top: 0px;
  }  
// Landscape phones and down
	#modal_login {
	  position: absolute;
	  width: 300px;
	  right: 100%;
	  top: 10px;
  }
}


@media (max-width: 768px) {
// Landscape phone to portrait tablet
  #modal_login {
    width: 400px;
    right: 30%;
  }
}