{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form method="post" action=".">
<div class="dcenter">

  <h2>{% trans 'Reset Password' %}</h2>
  <br>
  
  {{ form.as_p }}
	
  <input type="submit" value="{% trans 'Submit' %}" />
</div>
</form>

{% endblock %}
