{% extends "base.html" %}
{% load i18n %}

<h3>change confirm</h3>

{% block content %}
<form method="post" action=".">
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
