{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Password reset successfully" %}</p>

<!-- p><a href="{% url auth_login %}showmodal">{% trans "Log in" %}</a></p -->
<p><a href="{% url index %}showmodal">{% trans "Log in" %}</a></p>

{% endblock %}
